<head>
  <title>HRV-Labor</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">


  <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap/bootstrap.min.css') }}" crossorigin="anonymous">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" crossorigin="anonymous">

</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #333333;">
    <a class="navbar-brand" href="/">
      <img src="{{url_for('static', filename='images/dhbw-logo-very-low-res-no-text.png')}}" width="30" height="30">
      EMF-Lab
    </a>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="/">Lab</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/settings">Settings</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Information
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/information#tutorial">Tutorial</a>
            <a class="dropdown-item" href="/information#faq">F.A.Q.</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/imprint">Imprint</a>
        </li>
      </ul>
    </div>
  </nav>
  <div class="container" id="mainContainer">
    <div class="row">
      <div class="col-md-6">
        <form id="form" class="needs-validation">
          <div class="form-row">
            <div class="col">
              <div class="form-group">
                <label for="weight">Weight</label>
                <input id="weight" type="text" name="weight" class="form-control" placeholder="Weight" pattern="\d\d?(\.\d+)?"
                  required>
                  <small class="form-text text-muted">(in kg)</small>
              </div>
              
            </div>
            <div class="col">
              <div class="form-group">
                <label for="height">Height</label>
                <input id="height" type="text" name="height" class="form-control" placeholder="Height" pattern="\d(\.\d+)?"
                  required>
                  <small class="form-text text-muted">(in m)</small>
              </div>

            </div>

          </div>
          <div class="form-row">
            <div class="col">
              <div class="form-group">
                <label for="age">Age</label>
                <input id="age" type="text" name="age" class="form-control" pattern="\d\d?" placeholder="Age" required>
              </div>
            </div>
            <div class="col">
              <div class="form-group">
                <label for="sex">Sex</label>
                <select id="sex" name="sex" class="form-control" placeholder="Sex" required>
                  <option>Male</option>
                  <option>Female</option>
                </select>
                <small class="form-text text-muted">Please use . (dot) instead of , (comma) for decimals</small>
              </div>
            </div>
          </div>
          <button class="btn btn-primary" action="submit" id="startButton" onclick="setTimeout(time, 1000)">Start</button>
          <button class="btn btn-danger" type="button" onclick="abort()" id="stopButton" >Stop</button>
        </form>
      </div>
      <div class="col-md-4">
        <table id="table" class="table table-dark" style="background-color: #666666;">
          <thead>
            <tr style="background-color: #333333;">
              <th scope="col">Device</th>
              <th scope="col">Status</th>

            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">Wifi router</th>
              <td>
                <div id="wifi-status">
                </div>
              </td>

            </tr>
            <tr>
              <th scope="row">Dect Base</th>
              <td>
                <div id="dect-status">
                </div>
              </td>

            </tr>
            <!-- <tr>
              <th scope="row">Franks-Laptop</th>
              <td>
                <div id="archpad-status">
                </div>
              </td>
            </tr> -->
          </tbody>
        </table>
        <button type="button" class="btn btn-danger" onclick="ping()" id="refreshButton">Check</button>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="container">
          <label for="timer">Time remaining</label>
          <div id="timer">
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label for="comment">Protocol</label>
          <textarea class="form-control" rows="5" id="protocol" disabled></textarea>
        </div>
        <button class="btn btn-primary" onclick="save('protocol')">Export</button>
        <button class="btn btn-danger" onclick="clearProtocol()">Clear</button>
      </div>
    </div>
    <button class="btn btn-secondary" onclick="$('#spoiler').toggle('slow')">Hide/Show Log</button>
    <div class="row">
      
      <div id="spoiler" class="col-md-10">
          <div  class="form-group">
          <label for="comment">Log</label>
          <textarea class="form-control" rows="5" id="log" disabled></textarea>
          <small>For debugging only as experiment has to be double blind</small>
          </div>
          <button class="btn btn-primary" onclick="save('log')">Export</button>
          <button class="btn btn-danger" onclick="clearLog()" id="clearLog">Clear</button>
      </div>
    </div>
  </div>

</body>

<script src="{{ url_for('static', filename='js/jquery/jquery-3.3.1.min.js') }}/" crossorigin="anonymous"></script>
<script src="{{ url_for('static', filename='js/popper/popper.min.js') }}" crossorigin="anonymous"></script>
<script src="{{ url_for('static', filename='js/bootstrap/bootstrap.bundle.min.js') }}" crossorigin="anonymous"></script>
<script src="{{ url_for('static', filename='js/FileSaver/FileSaver.js') }}" crossorigin="anonymous"></script>
<script src="{{ url_for('static', filename='js/main.js') }}" crossorigin="anonymous"></script>

<script>$(document).ready(function () {
    
    time()
    protocol()
    log()
    ping()
    $('#spoiler').hide()
    $('.needs-validation').submit(function (e) {
      e.preventDefault()
      e.stopPropagation()
      if ($('.needs-validation')[0].checkValidity() === true) {
        $.ajax({
          url: '/start',
          type: 'post',
          data: $('.needs-validation').serialize(),
          complete: function () {
            disableEverything()
          }
        });
      }

    });

  })

</script>